pandas
numpy
plotly
python-dotenv
optuna
datasets
transformers[torch]
pillow
nltk
torch torchvision # for GPU use
wandb
evaluate
rouge-score
absl-py
h5py
ray[tune]==2.43.0
scikit-image
pytorch-msssim
diffusers
peft
streamlit